@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap');

/* Reschedule Consultation Styles */
.reschedule-container {
  font-family: 'Product Sans', sans-serif;
  width:100%;
  height: 100%;
  margin: auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reschedule-title {
  color: #1c2b3a;
  font-size: 28px;
  font-weight: 700;
}

.reschedule-label {
  font-size: 18px;
  margin: 10px 0;
  color: #1c2b3a;
}

.reschedule-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

.calendar-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.apply-button, .clear-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button {
  background-color: #396d68;
  color: white;
}

.apply-button:hover {
  background-color: #1c2b3a;
}

.clear-button {
  background-color: #ff6666;
  color: white;
}

.clear-button:hover {
  background-color: #cc0000;
}

.reschedule-slot {
  margin-bottom: 20px;
}

.reschedule-dropdown {
  width: 800px;
  max-width: 30vw;
  padding: 10px;
  border: 1px solid #396d68;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  cursor: pointer;
  color: #1c2b3a;
}

.reschedule-dropdown:focus {
  outline: none;
  border-color: #007bff;
}

.reschedule-button {
  width: 800px;
  max-width: 30vw;
  padding: 12px;
  background-color: #396d68;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
  margin-top: 20px;
}

.reschedule-button:hover {
  background-color: #1c2b3a;
}

@media (max-width: 600px) {
  .reschedule-container {
    max-width: 90%;
  }
  .reschedule-title {
    font-size: 20px;
  }
  .calendar-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

.grey-out {
    color: #bbb !important;
    pointer-events: none;
  }
  