# Node.js dependencies
node_modules/
package-lock.json

# Build files
frontend/dist/
backend/logs/
backend/.env

# Vite and cache files
frontend/.vite/
frontend/.env
.vscode/
.DS_Store

# IDE files
.idea/